<div class="container new">
  <div class="lead text-center">Welcome to hangman!</div>
  <div class="row text-center">
    <%= form_for @game do |f| %>
      <%= f.submit "New Game", :class => 'btn btn-success btn-lg' %>
    <% end %>
  </div>
</div>
